allure-combine
allure-pytest
allure-python-commons
altgraph
arrow
attrs
auto-py-to-exe
beautifulsoup4
bottle
bottle-websocket
bs4
certifi
cffi
charset-normalizer
colorama
docutils
EasyProcess
Eel
entrypoint2
et-xmlfile
future
gevent
gevent-websocket
greenlet
h11
idna
iniconfig
Jinja2
jinja2-time
make
MarkupSafe
MouseInfo
mss
numpy
openpyxl
opencv-python
outcome
packaging
pandas
pefile
pluggy
PyAutoGUI
pycparser
PyGetWindow
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
pyparsing
pyperclip
pypiwin32
PyRect
pyscreenshot
PyScreeze
PySocks
pytest
pytest-html
pytest-metadata
pytest-ordering
pytest-progress
python-dateutil
pytweening
pytz
pywin32
pywin32-ctypes
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
types-python-dateutil
typing_extensions
tzdata
urllib3
whichcraft
wsproto
zope.event
zope.interface
